@import 'variables';

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.header-custom {
    background: $color-header-background !important;

    a {
        color: $color-header !important;
    }
}
